#banner {
 width:70%;
 height:250px;
 display: block;
 margin-left: auto;
 margin-right: auto;

}
#myPicture{
 position:absolute;
 top:15%;
 left:10%;
 float:left;
}
/*#header{
text-align:center;
width:100%;
position:relative;
margin-top:2%;
margin-bottom:2%;
}

#header a{
 background-color:#fffbeb;
 border:none;
}*/
