body {
 background-color:#fffbeb;
}
#banner {
 width:70%;
 height:300px;
 display: block;
 margin-left: auto;
 margin-right: auto;
}
#myPicture{
 position:absolute;
 top:15%;
 left:12%;
}

#header{
margin-top:2%;
margin-bottom:5%;
}

p {
 margin-left: 2%;
}

#buttons{
  margin:2% 1;
  background-color:#A09794;
}

#buttons{
    margin:0.5% 0;
}
button{
    color:#000000;
    background-color:#F7BE81;
    margin-right:10px;
}

#span{
    padding:1%;
}

#select{
   color:#000000;
   background-color:#F7BE81;
   margin-right:10px;
   font-size:medium;
   font-weight:bold;
   border:1px solid black;
}

a{ 
    text-decoration: none;
    color:#000000;
    background-color:#F7BE81;
    margin-right:10px;
    font-size:medium;
    font-weight:bold;
   border:1px solid black;
}

a:hover{
background-color:#df838c;

}

#body3 {
    background-image: url('../images/asus-rog-wallpaper-3d (1).jpg');
    color:#fcfcfc;
}

#header3{
   
    margin-top:20px;
     margin-bottom:20px;
     height:120px;
}

#Form{
    margin-left:auto;
    margin-right:auto;
    background-color:#847966;
    width:50%;
    padding-top:10px;
    padding-bottom:30px;
     text-align:center;
}

#title{
    text-align:center;
    background-color:#fcfcfc;
    color:#847966;
}

#table{
    width:50%;
    margin-left:auto;
    margin-right:auto;
}
#table input{
    border:1px solid #2a2a2a;
    margin-left:15px;
}
#table select{
  border:1px solid #2a2a2a;
}
#table label{
   color:#fcfcfc;
}

#banner1{
    width:100%;
height:inherit;
}



